.git
.gitignore
.gitattributes
__pycache__
**/__pycache__
*.pyc
.pytest_cache
.ruff_cache
.venv
venv
tests
Dockerfile
docker-compose.yml
.dockerignore
README.md
LICENSE
app/data/cache
app/data/cache/comparativos
app/data/cache/searches
